<form action="#" th:action="@{/add}" th:object="${user}" method="post">
	<table>
		<tr>
			<th><label for="name">Name</label></th>
			<td><input type="text" th:field="*{name}" id="name" placeholder="Name"></td>
			<td><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
		</tr>
		<tr>
			<th><label for="email">Email</label></th>
			<td><input type="email" th:field="*{email}" id="email" placeholder="Email"></td>
			<td><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
		</tr>
		<tr>
			<th><label for="description">Description</label></th>
			<td><textarea placeholder="Description" th:field="*{description}" th:text="*{description}" th:inline="text"></textarea></td>
			<td></td>
		</tr>
	</table>
	<input type="submit" value="Add User">
</form>
